<a href="https://colab.research.google.com/github/Manjinder-Singh/Practice-of-Applied-AI-Course---Applied-Machine-Learning-Course/blob/main/Chapter_2_Python_Basics_Beginner_Part.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Learning Series : Applied AI Course - Applied Machine Learning Course

##### Chapter 2 - Python(Basic Level)

**#Chapter - Installation**
1. Install Python,
2. PIP/Anaconda IDE or
3. Google Colab

**#Chapter - Keywords and Identifiers.**

##Python Keywords
####1. Reservered words in python. We cannot use keywords as a function name, variable name or any other identifier.
####2. All keywords are case sensitive.

In [ ]:
import keyword
print(keyword.kwlist)
print("Keywords name and count:- ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Keywords name and count:-  35

#Python Identifiers
#### 1. Name with lowercase, uppercase, digits or underscore
#### 2. Identifier cannot start with digit.
#### 3. keywords cannot be used as idnetifier.

In [ ]:
#Example of Valid Identifier
a_143_bc = 12 #valid
BC = "Hello" #valid

In [ ]:
# Example of Invalid Identifier
a@ = 12 //Invalid
global = 1 // invliad as its a keyword

**Chapter - Comments, Indentation and Statements.**

#Comments
####1. Single Line Comments : starts with hash #
####2. Multi Comments Comments : starts and ends with triple """

In [ ]:
#Declaring vaiable with single line comment
a=10

""" Declaring
variable
with multi
line comment"""
b=20

#Indentation
#### 1. Other languages use braces but python uses indentation to define block of code.
#### 2. Generally it is a code block(body of fn, loop etc.) starts with indentation and ends with the first unindented line. The amount o findentation is upto the programmer, but it must be consistent throughout that block.
#### 3. Generally four whitespaces is used(recommended) and preferred over tab(varies with text editors)
#### 4. Recommended to use proper indentation consistent throughout the program.

In [ ]:
for i in range(10):
    print(i)
    print(i*10)
print(100)
print("Hello")

0
0
1
10
2
20
3
30
4
40
5
50
6
60
7
70
8
80
9
90
100
Hello

In [ ]:
#Good Code Readabiltiy - Defined in seprate lines
if True:
     print("AI ML Couse")
     c ="AIML"

AI ML Couse

In [ ]:
#Follwoing code statemnet is not a good readable and cleaniness practice. so its important correct code with good readability and cleaniness.
if True: print("Machien Learning"); c = "AIML"

#Python Statement
#### Instructions that a Python interpreter can execute are called statements.
#### Example

In [ ]:
a = 1 #Single statement

Multi Line Statement - End of statement is marked by a newline character. But we can make a statement extend over multiple lines with the line contination character().

In [ ]:
a = 1 + 3 + \
    5 + 7 + \
    9

In [ ]:
print(a)

25

In [ ]:
# Other method to use parathensis
a = ( 1+ 2 + 3 +
     4 + 5 + 6 +
      7 + 8 + 9)
print(a)

45

In [ ]:
#you can also put mutiple statements in single line
a=10; b=30; c =50

**# CHAPTER - VARIABLES AND DATATYPES**

#Variable
#####1. Location in memory used to store some data(value)
#####2. They are given unique names to differentiate different memory locations. The rules for writing variables are same as the rules for writing identifiers in Python.
#####3. We do not need to declare a variable before using it. In python, simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

#Variable Assignment

In [ ]:
# assignment operator(=) is ised to assign values ot the variable.

In [ ]:
# a%=10 wrong declaration
a = 10
b = 50.25
c = "Y"
d = "Hello ML folks"

#Multiple Assignments

In [ ]:
a,b,c,d = 10,50.25,"Y","Hello ML folks"

In [ ]:
a = b = c = "AI" #Assigning the same value to multiple variables at once.

#Storage Locations

In [ ]:
a =10

print(id(a)) # print address/ memory location of variable a

132375560913424

In [ ]:
b = 10
print(id(b)) # print address/ memory location of variable b

# a and b points to same memory location.

132375560913424

In [ ]:
b = 2
print(id(b)) # print address/ memory location of variable b

132375560913168

#Data Types:
#### Every value in Python has a datatype
#### Since everything is an object in Python Programming, data types are actually classes and variables are instance(object) of these classes.
#### 1. Numbers: Int, float, complex number falls under Python number category
#### 2. Boolean: It represents the truth values False and True.
#### 3. Python Strings:
#### -> String is sequence of Unicode characters.
#### -> Use single or double quotes to represent strings.
#### -> Multi-line strings can be denoted using tripel quotes ''' or """.
#### -> A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.
#### -> Strings can be indexed - often synonymously called subscripted as well.
#### -> Similar to C progg. lang., teh first charcter of a string has the index 0.
####a

In [ ]:
a = 10 # Data type is implicitly set to integer.
print(a, " is of type",type(a))

b = 5.5 # Data type is implicitly set to float
print(b, " is of type",type(b))

c = 1+2j  # Data type is implicitly set to comlex number.
print(c, " is complex number or not???")
print(isinstance(1+2j,complex))

print(type(c))

d = True # d is a boolean type.
print(type(d))

10  is of type <class 'int'>
5.5  is of type <class 'float'>
(1+2j)  is complex number or not???
True
<class 'complex'>
<class 'bool'>

In [ ]:
# single quote usage

a = "How are you?" # double quote usage
b='How are you?' # single quote usage
c="""How
are
you?""" # three double quote usage for multi line strings
d='''How
are
you?''' # three single quote usage for multi line strings

print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))
print(d[0])
print(d[1])
print(d[2])
print(d[3])
print(d[4])
print(d[5])
print(d[0])
print(d[0])
print(d[-1]) # Print last char
print(d[-2]) # Print 2nd last char
print(d[len(d) -1])
# Last character d[len(d)-1] or d[-1]

#slicing
e="abcd efgh ijkl"
e[5:] # print everything from 5 index until end.
e[5:11] # print everything from 5 index until 11 index.

How are you?
<class 'str'>
How are you?
<class 'str'>
How
are
you?
<class 'str'>
How
are
you?
<class 'str'>
H
o
w


a
r
H
H
?
u
?

'efgh i'

#Python List
#### 1. Ordered sequence of items.
#### 2. All items in list is required to be of the same type.
#### 3. Declaring a list is, Items seprated by commas are enclosed within brackets [].
#### 4. Lists are mutable, i.e., value of elements of a list can be altered.

In [ ]:
a = [1, 2.5, "Hello"]
print(a)
print(a[0]) #Prints value at 0th index.
print(a[1]) #Prints value at 1st index.
print(a[2]) #Prints value at 2nd index.


a[1] = 96.7
print(a)

[1, 2.5, 'Hello']
2.5
[1, 96.7, 'Hello']

#Python Tuple
#### 1. Tuple is an ordered sequence of items same as list
#### 2.  The only difference is that tuples are immutable.
#### 3. Tuples once created cannot be modifed.
#### 4. Tupes are declared within ( ) instead of [ ] - unlike List.

In [ ]:
a = (1, 2.5, "Hello")
print(a)
print(a[0]) #Prints value at 0th index.
print(a[1]) #Prints value at 1st index.
print(a[2]) #Prints value at 2nd index.

(1, 2.5, 'Hello')
1
2.5
Hello

In [ ]:

# Cannot be modified as tuple is immutable/constants(we can read but cant change that.)
a[1] = 96.7
print(a)

TypeError: ignored

#Python Set
#### 1. Set is an unordered collection of unique items
#### 2. Set is defined by values seprated by comma
#### 3. Items in set are not ordered.
#### 4. Sets are declared within { } instead of [ ] - unlike List and ( ) unlike tuple.

Set - UNIQUE AND UNORDERED

In [ ]:
a = {1, 2, 3 , 4}
print(a)
print(type(a)) # Printing type of a

b = {1 ,2 ,1, 2, 2 ,2 ,1 ,1}
print(b) # Set stores only unique values

{1, 2, 3, 4}
<class 'set'>
{1, 2}

In [ ]:
# We cannot print particular element in set because it is unordered collection of items.
print(b[1]) # Gives error as per above explanation.

TypeError: ignored

#Python Dictionary
#### 1. Dictionary is an unordered collection of key value pairs.
#### 2. In python, dictionaries are defined within braces { }
#### 3. Each item in dictionary is being a pair in the form key:value.
key and value can be of any type.

In [ ]:
d = { 'a':"MAC",'b':"MSC",'c':"PhD"}
print(d['a'])
print(d['b'])
print(d['c'])
print(d['d']) # Gives error as key with d is not present in dictionary.

MAC
MSC
PhD

KeyError: ignored

#Conversion between Datatypes
#### We can convert between different data types by using different type conversion function like int(), float(), str() etc.

In [ ]:
float(5) # Convert integer to float using float() method.

5.0

In [ ]:
int(100.503) # Convert float to integer using int() method.

100

In [ ]:
str(5) # Convert integer to String using str() method.

'5'

#### Conversion to and from string must contain compatiable values.

In [ ]:

int('10p') # Gives error

ValueError: ignored

In [ ]:
user = "manjinder"
lines = 100
print("Congrats, " + user + "! You just wrote " +str (lines) + " lines of code.")
#if we remove str and it will give error

Congrats, manjinder! You just wrote 100 lines of code.

#Conversion from one sequence to other.

In [ ]:
a =[1, 2 , 3 ]
print(type(a))

s= set(a)
print(type(s)) # Converting list to set

list("Hello") # Converts String to list using list method.

<class 'list'>
<class 'set'>

['H', 'e', 'l', 'l', 'o']

**#Chapter - Standard Input(I/P) and Output(O/P)**

####Python O/P

In [ ]:
print("Hello Everyone")
a=10
print("The value of a is:- ",a)
print("The value of a is:- "+str(a))
#print a -- This works in python 2 version but not in python 3 version
print(a) # works in python 3

Hello Everyone
The value of a is:-  10
The value of a is:- 10
10

####O/P Formatting

In [ ]:
a = 10; b= 20; # Multiple statements in single line
print("The value of a is {} and b is {}".format(a,b)) #default

In [ ]:
a = 10; b= 20; # Multiple statements in single line
print("The value of b is {1} and a is {0}".format(a,b)) #specify position of variables.

In [ ]:
# We can use keyword argumemts to format the string.
print("Hello {name}, {greeting}".format(name="Manjinder",greeting ="Good Morning"))

Hello Manjinder, Good Morning

In [ ]:
# Also, positional arguments can be combined with keyword arguments
print('The writers are {0}, {1}, and  {other}.'.format('Rahul','Rohit', other ='Rohan'))

The writers are Rahul, Rohit, and  Rohan.

Python I/P

In [ ]:
#Taking I/P from the user.
#In python, use input() function to take I/P from the user.

In [ ]:
num = input("Enter any number:- ")
print(num)

Enter any number:- 94653
94653

**# CHAPTER - Operators**

#Arithmetic Operators
a+b
*   a and b are operand
*   "+" is operator

In [ ]:
a, b = 10, 20

# Addition, +
print( a + b)

# Subtraction, -
print(a - b)

# Divison, /
print(b/a)

# Modulo Division, %
print(a%b)

# Floor Division, //
print(15//2)
print(8//3)
print(-15//2)
print(-8//3)

# Exponent, **
print(2**5)

30
-10
2.0
10
7
2
-8
-3
32

#Comparison Operators


*   Used to compare values
*   It either returns True or False according to condiiton


*   ">, <, ==, !=, >=, <= are comparison operators."

In [ ]:
a,b =10,20
#Checks a is less than b
print(a < b)

#Checks a is greater than b
print(a > b)

#Checks a is equal than b
print(a == b)

#Checks a is not equal than b
print(a != b)

#Checks is greater than or equal to b
print(a >= b)

#Checks a is less than or equal to b
print(a <= b)

True
False
False
True
False
True

#Logical Operators

In [ ]:
a, b = True, False
print( a and b) # and &&
print( a or b) # or ||
print( not a ) # not !

False
True
False

#Bitwise Operators
#### Act on operands as if they were string of binary digits. It operates bit by bit.
#### &, |, ~, ^, >>, <<

In [5]:
a, b = 10,4


#Bitwise AND
print(a & b)

#Bitwise OR
print(a | b)

#Bitwise NOT
print(~a)

#Bitwise XOR

#Bitwise Rightshift
print(a>>1)

#Bitwise Leftshift
print(a<<1)

0
14
-11
5
20

#Assignment Operators
#### =, +=, -=, *=, /=, %=, //=, **=, &-, |=, ^=, >>=, <<= are Assignment operators.

In [13]:
a = 10

#add And (+=)
a += 10 # a = a + 10
print(a)

#subtract AND (-=)
a -=10 # a = a - 10
print(a)

#Multiply And (*=)
a *=10 # a = a * 10
print(a)

#Divide And (/=)
a /=10 # a = a / 10
print(a)

a = 99
#Modulus And (%=)
a %=10 # a = a % 10
print(a)

#Floor Division (//=)
a //=10 # a = a // 10
print(a)

#Exponent AND (**=)
a **=10 # a = a ** 2
print(a)

20
10
100
10.0
9
0
0

#Special Operators
#Identity Operators
#### is and is not are the identity operators in python.
#### They are used to check if two values (or variables) are located on the same part of the memory.

In [17]:
a = 5
b = 5
c = 10
print(a is b) # 5 is object created once both a and b points to same object.
print(a is c)
print(a is not b)
print(a is not c)

True
False
False
True

In [18]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 is l2) # is - only true for variables , not for list i.e true for simple data types, not for complex data types

False

In [20]:
s1 = "AIML"
s2 = "AIML"
print(s1 is s2)
print(s1 is not s2)

True
False

#Membership Operators
#### in and not in are the membership operators in Python.
#### They are used to test wheather a value or variables is found in a sequence(string,list,tuple,set and dictionary)

In [22]:
lst = [1, 2, 3, 4] # This is a list
print( 2 in lst) # Checks if 2 is present in a given list or not.

d = {1: "a",2: "b", 3: "c"} # This is a dictionary
print(3 in d)

True
True