<a href="https://colab.research.google.com/github/Manjinder-Singh/Practice-of-Applied-AI-Course---Applied-Machine-Learning-Course/blob/main/Chapter_2_Python_Basics_Beginner_Part.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Learning Series : Applied AI Course - Applied Machine Learning Course

##### Chapter 2 - Python(Basic Level)

**#Chapter - Installation**
1. Install Python,
2. PIP/Anaconda IDE or
3. Google Colab

**#Chapter - Keywords and Identifiers.**

##Python Keywords
####1. Reservered words in python. We cannot use keywords as a function name, variable name or any other identifier.
####2. All keywords are case sensitive.

In [1]:
import keyword
print(keyword.kwlist)
print("Keywords name and count:- ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Keywords name and count:-  35

#Python Identifiers
#### 1. Name with lowercase, uppercase, digits or underscore
#### 2. Identifier cannot start with digit.
#### 3. keywords cannot be used as idnetifier.

In [4]:
#Example of Valid Identifier
a_143_bc = 12 #valid
BC = "Hello" #valid

In [ ]:
# Example of Invalid Identifier
a@ = 12 //Invalid
global = 1 // invliad as its a keyword

**Chapter - Comments, Indentation and Statements.**

#Comments
####1. Single Line Comments : starts with hash #
####2. Multi Comments Comments : starts and ends with triple """

In [ ]:
#Declaring vaiable with single line comment
a=10

""" Declaring
variable
with multi
line comment"""
b=20

#Indentation
#### 1. Other languages use braces but python uses indentation to define block of code.
#### 2. Generally it is a code block(body of fn, loop etc.) starts with indentation and ends with the first unindented line. The amount o findentation is upto the programmer, but it must be consistent throughout that block.
#### 3. Generally four whitespaces is used(recommended) and preferred over tab(varies with text editors)
#### 4. Recommended to use proper indentation consistent throughout the program.

In [5]:
for i in range(10):
    print(i)
    print(i*10)
print(100)
print("Hello")

0
0
1
10
2
20
3
30
4
40
5
50
6
60
7
70
8
80
9
90
100
Hello

In [6]:
#Good Code Readabiltiy - Defined in seprate lines
if True:
     print("AI ML Couse")
     c ="AIML"

AI ML Couse

In [ ]:
#Follwoing code statemnet is not a good readable and cleaniness practice. so its important correct code with good readability and cleaniness.
if True: print("Machien Learning"); c = "AIML"

#Python Statement
#### Instructions that a Python interpreter can execute are called statements.
#### Example

In [ ]:
a = 1 #Single statement

Multi Line Statement - End of statement is marked by a newline character. But we can make a statement extend over multiple lines with the line contination character().

In [7]:
a = 1 + 3 + \
    5 + 7 + \
    9

In [8]:
print(a)

25

In [9]:
# Other method to use parathensis
a = ( 1+ 2 + 3 +
     4 + 5 + 6 +
      7 + 8 + 9)
print(a)

45

In [2]:
#you can also put mutiple statements in single line
a=10; b=30; c =50

**# CHAPTER - VARIABLES AND DATATYPES**

#Variable
#####1. Location in memory used to store some data(value)
#####2. They are given unique names to differentiate different memory locations. The rules for writing variables are same as the rules for writing identifiers in Python.
#####3. We do not need to declare a variable before using it. In python, simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

#Variable Assignment

In [ ]:
# assignment operator(=) is ised to assign values ot the variable.

In [10]:
# a%=10 wrong declaration
a = 10
b = 50.25
c = "Y"
d = "Hello ML folks"

#Multiple Assignments

In [ ]:
a,b,c,d = 10,50.25,"Y","Hello ML folks"

In [ ]:
a = b = c = "AI" #Assigning the same value to multiple variables at once.

#Storage Locations

In [11]:
a =10

print(id(a)) # print address/ memory location of variable a

132375560913424

In [12]:
b = 10
print(id(b)) # print address/ memory location of variable b

# a and b points to same memory location.

132375560913424

In [13]:
b = 2
print(id(b)) # print address/ memory location of variable b

132375560913168

#Data Types:
#### Every value in Python has a datatype
#### Since everything is an object in Python Programming, data types are actually classes and variables are instance(object) of these classes.
#### 1. Numbers: Int, float, complex number falls under Python number category
#### 2. Boolean: It represents the truth values False and True.
#### 3. Python Strings:
#### -> String is sequence of Unicode characters.
#### -> Use single or double quotes to represent strings.
#### -> Multi-line strings can be denoted using tripel quotes ''' or """.
#### -> A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.
#### -> Strings can be indexed - often synonymously called subscripted as well.
#### -> Similar to C progg. lang., teh first charcter of a string has the index 0.
####a

In [20]:
a = 10 # Data type is implicitly set to integer.
print(a, " is of type",type(a))

b = 5.5 # Data type is implicitly set to float
print(b, " is of type",type(b))

c = 1+2j  # Data type is implicitly set to comlex number.
print(c, " is complex number or not???")
print(isinstance(1+2j,complex))

print(type(c))

d = True # d is a boolean type.
print(type(d))

10  is of type <class 'int'>
5.5  is of type <class 'float'>
(1+2j)  is complex number or not???
True
<class 'complex'>
<class 'bool'>

In [31]:
# single quote usage

a = "How are you?" # double quote usage
b='How are you?' # single quote usage
c="""How
are
you?""" # three double quote usage for multi line strings
d='''How
are
you?''' # three single quote usage for multi line strings

print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))
print(d[0])
print(d[1])
print(d[2])
print(d[3])
print(d[4])
print(d[5])
print(d[0])
print(d[0])
print(d[-1]) # Print last char
print(d[-2]) # Print 2nd last char
print(d[len(d) -1])
# Last character d[len(d)-1] or d[-1]

#slicing
e="abcd efgh ijkl"
e[5:] # print everything from 5 index until end.
e[5:11] # print everything from 5 index until 11 index.

How are you?
<class 'str'>
How are you?
<class 'str'>
How
are
you?
<class 'str'>
How
are
you?
<class 'str'>
H
o
w


a
r
H
H
?
u
?

'efgh i'

#Python List
#### 1. Ordered sequence of items.
#### 2. All items in list is required to be of the same type.
#### 3. Declaring a list is, Items seprated by commas are enclosed within brackets [].
#### 4. Lists are mutable, i.e., value of elements of a list can be altered.

In [34]:
a = [1, 2.5, "Hello"]
print(a)
print(a[0]) #Prints value at 0th index.
print(a[1]) #Prints value at 1st index.
print(a[2]) #Prints value at 2nd index.


a[1] = 96.7
print(a)

[1, 2.5, 'Hello']
2.5
[1, 96.7, 'Hello']

#Python Tuple
#### 1. Tuple is an ordered sequence of items same as list
#### 2.  The only difference is that tuples are immutable.
#### 3. Tuples once created cannot be modifed.
#### 4. Tupes are declared within ( ) instead of [ ] - unlike List.

In [36]:
a = (1, 2.5, "Hello")
print(a)
print(a[0]) #Prints value at 0th index.
print(a[1]) #Prints value at 1st index.
print(a[2]) #Prints value at 2nd index.

(1, 2.5, 'Hello')
1
2.5
Hello

In [37]:

# Cannot be modified as tuple is immutable/constants(we can read but cant change that.)
a[1] = 96.7
print(a)

TypeError: ignored

#Python Set
#### 1. Set is an unordered collection of unique items
#### 2. Set is defined by values seprated by comma
#### 3. Items in set are not ordered.
#### 4. Sets are declared within { } instead of [ ] - unlike List and ( ) unlike tuple.

Set - UNIQUE AND UNORDERED

In [41]:
a = {1, 2, 3 , 4}
print(a)
print(type(a)) # Printing type of a

b = {1 ,2 ,1, 2, 2 ,2 ,1 ,1}
print(b) # Set stores only unique values

{1, 2, 3, 4}
<class 'set'>
{1, 2}

In [42]:
# We cannot print particular element in set because it is unordered collection of items.
print(b[1]) # Gives error as per above explanation.

TypeError: ignored

#Python Dictionary
#### 1. Dictionary is an unordered collection of key value pairs.
#### 2. In python, dictionaries are defined within braces { }
#### 3. Each item in dictionary is being a pair in the form key:value.
key and value can be of any type.

In [45]:
d = { 'a':"MAC",'b':"MSC",'c':"PhD"}
print(d['a'])
print(d['b'])
print(d['c'])
print(d['d']) # Gives error as key with d is not present in dictionary.

MAC
MSC
PhD

KeyError: ignored

#Conversion between Datatypes
#### We can convert between different data types by using different type conversion function like int(), float(), str() etc.

In [46]:
float(5) # Convert integer to float using float() method.

5.0

In [47]:
int(100.503) # Convert float to integer using int() method.

100

In [48]:
str(5) # Convert integer to String using str() method.

'5'

#### Conversion to and from string must contain compatiable values.

In [51]:

int('10p') # Gives error

ValueError: ignored

In [54]:
user = "manjinder"
lines = 100
print("Congrats, " + user + "! You just wrote " +str (lines) + " lines of code.")
#if we remove str and it will give error

Congrats, manjinder! You just wrote 100 lines of code.